*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #d8ecff;
}

ul
{
    list-style: none;
}

.header {
    background: linear-gradient(to right, var(--light-blue), var(--blue));
    color: #FFF;
}

.table-container > .head
{
    color: white;
    background: linear-gradient(to right, var(--green), var(--green));
}

.header
{
    padding: 20px;
    box-shadow: 0 0 3px black;
}

.container
{
    padding: 30px;
}

.table-container
{
    float: left;
    overflow: hidden;
    border: 2px solid var(--green);
    border-radius: 4px;
    margin-right: 30px;
    margin-bottom: 30px;
    transition: transform 0.5s;
    cursor: pointer;
}

.table-container:hover > .head
{
    background: var(--blue);
    color: #FFF;
}

.table-container:hover {
    border: 2px solid var(--blue);
}

.table-container > .head
{
    font-weight: bold;
    padding: 15px;
    transition: color 0.5s, background 1s;
}

span.detail
{
    color: silver;
    float: right;
    margin-left: 20px;
    font-size: small;
    user-select: none;
}

img.detail
{
    width: 14px;
    height: auto;
    margin-left: 3px;
    background: #512da8;
    border-radius: 4px;
    padding: 1px;
    box-shadow: 0 0 2px gray;
}

.table-container > .body > ul
{
    padding: 5px 0;
    background: #fefaff;
    transition: border-left 0.5s;
}

.table-container > .body > ul > li
{
    color: #512da8;
    padding: 5px 15px;
    background: transparent;
}