<div class="shape-bottom"></div>
<!-- STRAT LOGIN FORM -->
  <div class="login-container text-color">
    <div class="form-header">
      <h2 class="heading text-center">databases manager</h2>
    </div>
    <div class="form-section">
      <div class="input-group">
        <label>Username :</label>
        <input type="text" class="input" id="username" value="root">
      </div>
      <div class="input-group">
        <label>Password :</label>
        <input type="text" class="input" id="pass">
      </div>
      <div class="input-group">
        <label>Server Choice :</label>
        <select class="select" disabled>
          <option>MySQL</option>
        </select>
      </div>
      <div class="connection text-center">
        <button id="connection-btn" type="button" class="btn btn-fill green">
          Connection
        </button>
      </div>
    </div>
  </div>
<!-- END LOGIN FORM -->

<div class="shape-top"></div>
