<!-- START LOGS PANEL -->
<div class="logs-panel hide" data-toggle="close">
  <div class="panel-header">
    <div class="title float-lt">
      <i class="mdi logs-icon white mdi-library-books"></i>
      <span class="info white text-color"><span id="logs-tableName">[Table]</span> Table Logs</span>
      <span class="logs-count white">(<span id="logs-countLogs">0</span>) <span>Logs Founded</span></span>
    </div>
    <div class="panel-actions float-rt">
      <button type="button" class="btn" data-toggle="close">
        <i class="mdi btn white ver-middle icon-big mdi-arrow-expand"></i>
      </button>
      <button type="button" class="btn toggle-logs-btn">
        <i class="mdi btn white ver-middle icon-big mdi-arrow-down-box"></i>
      </button>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="panel-content">

    <span class="no-table-selected text-center text-color">No Database Table Selected</span>
  </div>
</div>
<!-- END LOGS PANEL -->
