<!-- START SECTION HEADER -->
<div class="section-header">
  <div class="title float-lt">
    Database User : <span id="db-user"></span>
  </div>
  <div class="actions float-rt">
    <button id="add-user-modal" type="button" class="btn add-user-btn btn-fill green">
      <span>Add user</span>
      <i class="mdi mdi-plus-circle"></i>
    </button>
    <button id="delete-user-modal" type="button" class="btn delete-user-btn btn-fill blue">
      <span>Delete user</span>
      <i class="mdi mdi-delete"></i>
    </button>
  </div>
  <div class="clearfix"></div>
</div>
<div class="headline"></div>
<!-- END SECTION HEADER -->
