<!-- EDIT MODAL -->
<div class="modal-edit-overlay active">
  <div class="modal-edit">
    <div class="modal-section">
      <table id="table-edit" class="ui celled table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
          </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button id="cancel-edit" type="button" class="btn btn-fill red float-lt">
        Cancel
      </button>
      <button type="button" class="btn btn-fill green float-rt">
        Save
      </button>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- EDIT MODAL -->
