<!-- ADD User ROW MODAL -->
<div class="modal-adduser-overlay hide">
    <div class="modal-edit-insert">
      <div class="modal-header">
        <span class="text-color">Add New User</span>
      </div>
      <div class="modal-section">
        <div class="input-group">
            <label>Username :</label>
            <input type="text" class="input" id="user">
          </div>
          <div class="input-group">
            <label>Password :</label>
            <input type="text" class="input" id="pass">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn cancel btn-fill red float-lt">
          Cancel
        </button>
          <button id="add-user" type="button" class="btn btn-fill green float-rt">
          Add New User
        </button>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <!-- ADD User ROW MODAL -->
  