<!-- DELETE ROW MODAL -->
<div class="modal-deleteuser-overlay hide">
    <div class="modal-delete">
      <div class="modal-header">
        <span class="text-color">Delete User</span>
      </div>
      <div class="modal-section">
        <span>Are You Sure To Delete This User ?</span>
      </div>
      <div class="modal-action">
        <button id="delete-user" type="button" class="btn btn-fill green">Yes</button>
        <button type="button" class="btn btn-fill red cancel">No</button>
      </div>
    </div>
  </div>
  <!-- DELETE ROW MODAL -->
  