<!-- EDIT MODAL -->
<div class="modal-edit-overlay hide">
  <div class="modal-edit-insert">
    <div class="modal-header">
      <span class="text-color">Edit Row</span>
    </div>
    <div class="modal-section">

    </div>
    <div class="modal-footer">
      <button type="button" class="btn cancel btn-fill red float-lt">
        Cancel
      </button>
      <button id="save-btn" type="button" class="btn btn-fill green float-rt">
        Save
      </button>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- EDIT MODAL -->
